body{
    margin: 0;
    padding: 0;
}

li{
    list-style: none;
}
.fl{
    float: left;
}
.fr{
    float:right;
}
h2{
    text-align: center;
    color: darkred;
}
.c-small{
    font-size:14px;
    font-weight: normal;
    color: #999;
}
.c-img{
}
.c-img img{

}
.c-list{
    margin-top:10px !important;
}
.c-list li{
    height: 50px;
    line-height: 50px;

}
.c-list font{
    font-weight: normal;
}
.red{
    color:red;
}