body{
    margin: 0;
    padding: 0;
}
a{
    text-decoration:none;
}

.ui-content{
    height: 60%;
    padding-left: 8%;
    padding-right: 8%;
    background-color: #fff;
    color: #28365D;
}
.ui-b{
    height: 40%;
    color: #28365D;
    background-color: #EEEEEE;
}

.foot-p{
    font-size: 8px;
    color:#28365D ;
    font-weight: normal;
    text-align: center;
}
span{
    font-size: 13px;
}