body{
    margin: 0;
    padding: 0;
}
a{
    text-decoration:none;
}

.ui-content{
    height: 60%;
    padding-left: 8%;
    padding-right: 8%;
    background-color: #fff;
    color: #28365D;
}
.ui-b{
    height: 40%;
    color: #28365D;
    background-color: #EEEEEE;
}

.foot-p{
    font-size: 9px;
    color:#28365D ;
    font-weight: normal;
    text-align: center;
}
span{
    font-size: 14px;
}
.tt{
    width: 40%;
}
.tu{
    width: 40%;
}
.yy{
    font-size: 20px;
    margin-top: 6px;
    margin-bottom: 30px;
}
.ww{
    margin-bottom: 5px;
}
.zz{
    font-size: 22px;
    font-weight: normal;
}
.ui-footer .ui-title{
    margin-bottom:-15px !important;
}