body{
    margin: 0;
    padding: 0;
    max-width: 100%;
    color: rgb(136, 136, 136);
    font-size: 14px;
    line-height: 25.6px;
    box-sizing: border-box !important;
    word-wrap: break-word !important;
}

a{
    text-decoration:none;
    color: #576b95;
    text-decoration: none;
    text-decoration-line: none;
    text-decoration-style: initial;
    text-decoration-color: initial;
}
b{
    background-color: #FFC000;
    /*
    text-align: center;
    background-image: -webkit-linear-gradient(left, #3498db, #f47920 10%, #d71345 20%, #f7acbc 30%,
    #ffd400 40%, #3498db 50%, #f47920 60%, #d71345 70%, #f7acbc 80%, #ffd400 90%, #3498db);
    -webkit-text-fill-color: transparent;
    -webkit-background-size: 200% 100%;
    -webkit-animation: masked-animation 4s infinite linear;
    */
}
.uu{
    height: 30px;
    width: 20px;
    text-align: center;
    margin: 5px 0 -7px 0;
}
.qs{
    display: block;
    height: 30%;
    width: 100%;
}
.te{
    height: 20px;
    width: 30px;
    margin: 5px 0 -5px 0;
}
.tu{
    width: 100%;
}
.tt{
    max-width:100%;
    margin:-3.5px auto;
}
.ty{
    max-width:100%;
    margin:-4px auto;

}
.to{
    cursor: pointer;
}
.tent{
    margin: 0px;
    padding: 0px;
    width: 100%;
}
.tens{
    margin: 0px;
    padding: 0px;
    width: 100%;
    position: relative;
}
.zz{
    font-weight: bold;
}
.dd{
    text-align:center;
}
.bb{

    background-color: rgb(249, 110, 87);
    width: 100% !important;
    height: auto !important;
}
.ss{
    float: right;
}
.qq{
    text-indent:32px;
}
.row{
    height: auto;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content:space-between;
}

